$theme-color__primary: hsla(187, 71%, 59%, 1);
$theme-color__accent_main: #EFFB41;
$theme-color__accent_secondary: hsla(198, 16%, 84%, 1);
$footer-height: 142px;

$color-disabled__white_background: hsla(0, 0, 78%, 1);
