@import "base_variables";
@import "media/over500w";

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img, embed, object, video {
  max-width: 100%;
}

core-icon-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

core-toolbar {
  color: #FAFAFA;
  background-color: $theme-color__primary;
}


core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


h1 {
    color: $theme-color__primary;
}

.user-status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }
}

#sidePanel {
  z-index: 30000;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

.sidenav-header {
  margin-top: 40px;
  padding: 10px 0 0 10px;
  border-top: 2px solid #FAFAFA;
  font-size: 1.2rem;
}

#upScroller {
  position: fixed;
  bottom: 10px;
  right: 20px;
  opacity: 0;
  z-index: 10;
  background-color: rgba(96, 125, 139, 1);
  border: 2px #FF9900 solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .22);
  font-weight: bold;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;

  transition: opacity .5s ease-out,
              background-color .2s ease-out;

  &:hover {
    background-color: #CCFF33;
    border-color: #669900;
    cursor: pointer;
  }

  &.visible {
    opacity: 1;
  }
}

