:host {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  padding: 20%;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
}


.card-header {
  margin-bottom: 10px;
}

polyfill-next-selector { content: '.card-header h2';  }
.card-header ::content h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

polyfill-next-selector { content: '.card-header img'; }
.card-header ::content img {
  width: 70px;
  border-radius: 50%;
  margin: 10px;
}

.card-banner {

}
