$animation-time: 2s;

:host {
  display: block;
}

[id^="contentContainer"] {

  opacity: 0;

  transition: background-color $animation-time,
              opacity $animation-time;
}

.animated {

  opacity: 1;
  background-color: red;
}
