$animation-time: .5s;
$easing-small-bounce: cubic-bezier(.59, -0.54, .72, 1.59);


// TODO: Moar animations to support animation API
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(500px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes SlideInRightAndHighlight {
  0% {
    opacity: 0;
    background-color: transparent;
    transform: translate3d(500px, 0, 0);
  }

  50% {
    opacity: 1;
    background-color: #C172FF;
    transform: translate3d(0, 0, 0);
  }

  100% {
    background-color: transparent;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes aparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


:host {
  display: block;
}

[id^="contentContainer"] {
  // Default styles for container being animated
  transform: translate3d(500px, 0, 0);
}


.main-container {
  
}




/* Animation Hooks */

.aparition {
  animation: aparition $animation-time;
}


.slideInRight {
  animation: slideInRight $animation-time $easing-small-bounce;
}

.slideInRightAndHighlight {
  animation: SlideInRightAndHighlight $animation-time * 2;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
