:host {
  display: block;
}


#mainContent {
  width: 100%;
}


.card-list {
  height: 300px;
  background-color: yellow;
}

@import "base_variables";


core-toolbar {
  color: #FAFAFA;
  background-color: $theme-color__primary;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}



.content-layout-container {
  width: 100%;
  height: 100%;
}



.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}



.hero-container {
  margin: 50px auto 0 auto;
  width: 100%;

  .hero-unit {
    padding: 16px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $theme-color__primary;
    justify-content: center;
    font-size: 36px;
    font-weight: 200;
    line-height: 30px;
    background-color: $theme-color__accent;
    border-radius: 6px;
  }

  .countdown {
    h2 {
      margin: 0;
    }
  }
}

#scheduleTabs {
  width: 100%;
  height: 100%;
  margin: 0;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
