$card-height: 275px;

:host {
  display: block;
  position: relative;
  height: $card-height;
  overflow: hidden;
  font-size: 1.2rem;
  border-radius: 3px;
  font-weight: 300;
  text-align: start;
  cursor: pointer;
}

.btn-label {
  &.favorites {
    position: absolute;
    z-index: 4;
    top: 20px;
    right: 26px;
    color: rgba(0.0, 0.0, 0.0, .87);

    :host([favorited]) & {
      color: #FFFFFF;
    }
  }
}

#commentCountIcon {
  width: 50px;
  height: 50px;
}

.card-header {
  margin-bottom: 10px;
}

core-icon-button#favicon {
  position: absolute;
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  color: hsla(0, 0, 78%, 1.00);

  /deep/ core-icon {
    width: 48px;
    height: 48px;
  }

  :host([favorited]) & {
    color: hsla(355, 100%, 66%, 1);
  }
}

polyfill-next-selector {
  content: 'section.card-header';
}

::content section.card-header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
  }
}

polyfill-next-selector {
  content: 'section.card-body';
}

::content section.card-body {
  max-width: 100%;
  text-align: center;

  .speaker {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
  }
  hr {
    width: 70%;
  }

}

polyfill-next-selector {
  content: 'section.card-footer';
}

::content section.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h2 {
    line-height: 1.5;
    padding: 0 5px;
    margin: 0;
    span {
      font-size: 1.4rem;
      font-weight: 400;

      @media screen and (max-width: 750px) {

      }
    }
  }
}

.card-banner {

}

