:host {
  display: block;
  position: relative;
  height: 275px;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}

.card-header {
  margin-bottom: 10px;
}

core-icon-button#favicon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 3px;
  right: 3px;
  color: hsla(0, 0, 78%, 1.00);
  width: 48px;
  height: 48px;

  :host([favorited]) & {
    color: hsla(355, 100%, 66%, 1);
  }

}

polyfill-next-selector {
  content: 'section.card-header';
}
::content section.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
  }
}

polyfill-next-selector {
  content: 'section.card-body';
}
::content section.card-body {
  max-width: 100%;
  padding: 16px;
}


polyfill-next-selector {
  content: 'section.card-footer';
}
::content section.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h2 {
    padding: 0 5px;
    margin: 0;
    span {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

.card-banner {

}

