<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.Default-pjkljhegncpnkpknbcohdijeoejaedia-internal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Default pjkljhegncpnkpknbcohdijeoejaedia</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>40.0.2214.115</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2214.115</string>
	<key>CrAppModeProfileDir</key>
	<string>Default</string>
	<key>CrAppModeProfileName</key>
	<string>First user</string>
	<key>CrAppModeShortcutID</key>
	<string>pjkljhegncpnkpknbcohdijeoejaedia</string>
	<key>CrAppModeShortcutName</key>
	<string>Gmail</string>
	<key>CrAppModeShortcutURL</key>
	<string>https://mail.google.com/mail/ca</string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/BrianSipple/Development/Web_Applications/DevFestMN/Polymer_App/remote-profile/Default/Web Applications/_crx_pjkljhegncpnkpknbcohdijeoejaedia</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0510</string>
	<key>DTXcodeBuild</key>
	<string>5B130a</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
