@import "mixins";

$card-detail-view__primary_height: 500px;
$card-detail-view__primary-width: 770px;

$comments-list-height-transition-time: .5s;
$comments-list-height-easing-func: cubic-bezier(0.215, 0.610, 0.355, 1.000);  // easeOutCubic


:host {
  display: block;
  //overflow: hidden;
  width: $card-detail-view__primary-width;
  height: $card-detail-view__primary_height;
  z-index: 6;
  border-radius: 3px;
  text-align: start;
  overflow: visible;
  @include BoxShadowHelper(2);

  @media screen and (max-width: $card-detail-view__primary-width) {
    width: $card-detail-view__primary-width * .75;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }

  min-width: 450px;
}

h1 {
  font-size: 2rem;
}


.description-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  font-size: 1rem;
  //overflow-y: scroll;

  p {
    line-height: 30px;
  }
}

#mainContainer {
  height: $card-detail-view__primary_height;
  position: relative;

  .header-container {
    height: 20%;
    padding: 5px 16px;
    overflow: hidden;
    h1 {
      margin-bottom: -5px;
    }

    .back-button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      core-icon-button {
        padding-right: 15px;
      }
    }
  }

  .body-container {
    overflow: hidden;
    height: 50%;
    padding: 5px 16px;
  }

  /* Start state of comments container */
  .comments-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    transition: height $comments-list-height-transition-time $comments-list-height-easing-func;

    .scroll-panel-container {
      position: relative;
      width: 90%;
      height: 100%;
      @include BoxShadowHelper(2);

      core-scroll-header-panel {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
      }
      .scroll-content {
        visibility: collapse;
      }

    }

    /* Expanded state of comments container */
    &.expanded {
      height: 400px;
      .scroll-content {
        visibility: visible;
      }
      core-scroll-header-panel {
        //height: 400px;
      }
      .scroll-panel-container {
        @include BoxShadowHelper(5);
      }

      .panel-fab {
        /deep/ core-icon {
          transform: rotateZ(180deg);
        }
      }

    }

    .panel-fab {
      position: absolute;
      z-index: 1;
      top: -20px;
      right: -20px;
      width: 53px;
      height: 53px;

      /deep/ core-icon {
        transition: transform .2s $comments-list-height-transition-time cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }
    }
  }

  .comment-count {
    margin-left: -10px;
  }

  .comments-container core-scroll-header-panel {
    .scroll-content {
      height: 100%;

      .comments {
        max-height: 80%;
      }
      .add-comment {
        min-height: 20%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .btn.add-comment {

    /deep/ core-icon {
      width: 64px;
      height: 64px;
    }
  }

}


